/* 400, 600 ,700 */
@font-face {
  font-family: outfit;
  src: url(./fonts/outfit/Outfit-VariableFont_wght.ttf);
}

/* 400 */
@font-face {
  font-family: young-serif;
  src: url(./fonts/young-serif/YoungSerif-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(30, 54%, 90%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.container {
  background-color: hsl(0, 0%, 100%);
  width: 730px;
  border-radius: 18px;
}

.preparation,
.ingredients,
.instructions,
.nutrition {
  margin: 0 2.4rem 2.4rem;
}

h2 {
  font-family: young-serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: hsl(14, 45%, 36%);
}

.main-header .img-holder {
  padding: 24px;
  width: 730px;
}

.main-header .img-holder img {
  width: 100%;
  border-radius: 10px;
}

.main-header h1 {
  padding: 0 2.4rem;
  font-family: young-serif;
  font-weight: 400;
  font-size: 4.2rem;
}

.main-header .desc-omelette {
  font-family: outfit;
  font-size: 1.7rem;
  padding: 2.4rem;
}

/* prepartion section */

.preparation {
  background-color: hsl(330, 100%, 98%);
  padding: 1.6rem;
  font-family: outfit;
  border-radius: 10px;
}

.preparation h4 {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  font-size: 1.9rem;
}

.preparation ul {
  margin: 1.6rem;
  font-weight: 400;
  list-style-type: disc;
}

.preparation ul li {
  font-size: 1.6rem;
  margin: 1rem;
  padding-left: 14px;
}

.preparation ul li::marker {
  color: hsl(332, 51%, 32%);
}

/* ingredients section */

.ingredients ul {
  margin: 1rem 1.5rem;
  font-family: outfit;
  font-weight: 400;
  list-style-type: square;
}

.ingredients ul li {
  font-size: 1.6rem;
  margin: 1.4rem 1rem;
  padding-left: 14px;
}

.ingredients ul li::marker,
.instructions ol li::marker {
  color: hsl(14, 45%, 36%);
}

hr {
  /* color:  */
  border: 1px solid hsl(30, 18%, 87%);
  margin: 2.4rem;
}

/* instructions */

.instructions ol {
  font-family: outfit;
  font-weight: 400;
  margin: 1rem 1.5rem;
}

.instructions ol li {
  font-size: 1.6rem;
  margin: 1.4rem 1rem;
  padding-left: 14px;
}

/* nutrition */

.nutrition p {
  margin: 2rem 0;
  font-family: outfit;
  font-size: 1.6rem;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  font-size: 1.6rem;
  font-family: outfit;
  width: 100%;
}

th {
  font-weight: normal;
  text-align: left;
  padding: 1rem 2.8rem;
  width: 50%;
}

td {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}

tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

tr:last-child {
  border: none;
}

@media screen and (max-width: 709px) {
  main {
    display: block;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .container {
    width: 100vw;
    margin: 0;
    height: 100%;
    border-radius: 0;
  }

  html {
    width: 100vw;
    height: 100vh;
  }

  .main-header .img-holder {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0;
  }

  .preparation,
  .ingredients,
  .instructions,
  .nutrition {
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 70%;
    width: 100vw;
    height: 100vh;
  }
  main {
    height: 100%;
  }

  .container {
    height: 100%;
    border-radius: 0;
  }
  .main-header .img-holder img {
    width: 100%;
    border-radius: 0;
  }

  .main-header {
    flex-wrap: wrap;
  }

  .main-header h1 {
    font-size: 3rem;
  }
  /* .preparation,
  .ingredients,
  .instructions,
  .nutrition {
    width: auto;
  } */
}

@media screen and (max-width: 240px) {
  .container .preparation ul {
    font-size: 0.8rem;
    /* padding: 0.3rem; */
  }

  .container .preparation .prep--list li {
    /* background-color: green; */
    padding-left: 0;
  }

  th {
    padding: 0;
  }
}
